<!DOCTYPE html>
<html>
  <head>
    <title>Free Programming Books, Guides, and References | Coder Heya</title>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,800,700" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main-wrapper">
      <div id="inner-wrapper">
        <header>
          <h1 id="logo" class="tooltip" title="In sumo wrestling, a heya is an organization of sumo wrestlers where they train and live. All wrestlers in professional sumo must belong to one... welcome to your Coder Heya.">
            <a href="/">Coder Heya</a>
          </h1>

          <nav id="user-nav">
            <% if @current_user %>
              <div id="current-user">
                <a href='/users/<%= @current_user.nickname %>'>
                  <img src="http://www.gravatar.com/avatar/<%= @current_user.gravatar_id %>" id="current-user-profile-image">
                  <%= @current_user.nickname %>
                </a>
                <a href="<%= signout_path %>" class="signout">
                  <span class="icon-off tooltip" title="Sign Out"></span>
                </a>
              </div>
            <% else %>
              <a id="sign-in-with-github" class="button large" href="/auth/github"><span class="icon-github"></span> Sign in with Github</a>
            <% end %>
          </nav>

          <aside id="description">
            Free programming books, guides, and references.
          </aside>
        </header>

        <aside id="notice" class="<%= 'show-notice' if flash[:notice] %>"><%= flash[:notice] %></aside>

        <%= yield %>

        <footer>
          This project is maintained by <a href="http://www.twitter.com/codyjackstewart" target="_blank">@codyjackstewart</a>. <br/>
          Questions, suggestions, or bugs? <a href="https://github.com/cjstewart88/coderheya">https://github.com/cjstewart88/coderheya</a>
        </footer>
      </div>
    </div>

    <% if Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35945047-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </body>
</html>
