<!DOCTYPE html>
<html>
  <head>
    <title>Coder Heya</title>
    <%= stylesheet_link_tag    "application", "http://fonts.googleapis.com/css?family=Open+Sans:400,800,700" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main-wrapper">
      <div id="inner-wrapper">
        <header>
          <h1 id="logo"><a href="/">Coder Heya</a></h1>

          <nav id="current-user">
            <% if @current_user %>
              <a href='/<%= @current_user.nickname %>'>
                <img src="http://www.gravatar.com/avatar/<%= @current_user.gravatar_id %>" id="current-user-profile-image">              
                <%= @current_user.nickname %>
              </a> - 
              <%= link_to "sign out", signout_path %>
            <% else %>  
              <a class="btn-auth btn-github large" href="/auth/github">Sign in with <b>Github</b></a>
            <% end %>
          </nav>
        </header>
        
        <aside id="notice" class="<%= 'show-notice' if flash[:notice] %>"><%= flash[:notice] %></aside>
        
        <%= yield %>
      </div>
    </div>
  </body>
</html>
